<h1>New bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>

  <%= f.input :movie_id, collection: @movies, as: :select, label_method: :title, value_method: :id, prompt: "Select a movie" %>

  <%= f.submit "Submit bookmark", class: "btn btn-success" %>
<% end %>
